.header {
	position: relative;
	width: 987px;
	height: 216px;
	background-image: url(../img/header.jpg);
	border-right: 1px solid;
	border-color: #dededc;
}
.menu {
	position: absolute;
	top: 172px;
	left: 95px;
}
.menu_button {
	background-image: url(../img/kn.gif);
	width: 142px;
	height: 27px;
	float: left;
	font-family: Arial, Verdana, Helvetica, Sans-serif;
	color: #ffffff;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	font-size: 12pt;
}
.menu_button:hover {
	background-image: url(../img/knup.gif);
	width: 142px;
	height: 25px;
	float: left;
}
.menu_button span {
	position: absolute;
	top: 4px;
	left: 25px;
	
}
#left0 {
	position: relative;
	z-index: 6;
}
#left1 {
	position: relative;
	left: -8px;
	z-index: 5;
}
#left2 {
	position: relative;
	left: -16px;
	z-index: 4;
}
#left3 {
	position: relative;
	left: -24px;
	z-index: 3;
}
#left4 {
	position: relative;
	left: -32px;
	z-index: 2;
}
#left5 {
	position: relative;
	left: -40px;
	z-index: 1;
}
.menu_block {
	height: 184px;
	width: 988px;
}
.contentleft {
	background-image: url(../img/fon.jpg);
	width: 95px;
	height: 184px;
	padding: 0px;
	float:left;
}
	
.contentcenter {
	width: 200px;
	height: 184px;
	padding:0px;
	float:left;
}
	
.contentright {
	width: 692px;
	height: 184px;
	padding:0px;
	float:left;
	border-right: 1px solid;
	border-color: #dededc;
}
.form {
	position: absolute;
	left: 700px;
	top: 75px;
	font-family: Arial, Verdana, Helvetica, Sans-serif;
	color: #000000;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	font-size: 10pt;
}
.form a {
	font-family: Arial, Verdana, Helvetica, Sans-serif;
	color: #000000;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	font-size: 10pt;
}
.form a:hover {
	color: #b82827;
}
.headerfield{
	text-align: right;
	color: #b82827;
}
.formfield {
	width: 50px;
	float: left;
}
.menu_oasis {
	background-image: url(../img/menu_oasis_down.jpg);
	background-repeat: no-repeat;
	width: 200px;
	height: 22px;
}
.menu_ferre {
	background-image: url(../img/menu_ferre_down.jpg);
	background-repeat: no-repeat;
	width: 200px;
	height: 22px;
}
.menu_15 {
	background-image: url(../img/menu_15_down.jpg);
	background-repeat: no-repeat;
	width: 200px;
	height: 22px;
}
.menu_proekt {
	background-image: url(../img/menu_proekt_down.jpg);
	background-repeat: no-repeat;
	width: 200px;
	height: 22px;
}
.menu_usb {
	background-image: url(../img/menu_usb_down.jpg);
	background-repeat: no-repeat;
	width: 200px;
	height: 22px;
}
.menu_toys {
	background-image: url(../img/menu_toys_down.jpg);
	background-repeat: no-repeat;
	width: 200px;
	height: 22px;
}
a.opacity img {
	filter:alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
}
a.opacity:hover img {
	filter:alpha(opacity=100);
	-moz-opacity: 1.0;
	opacity: 1.0;
}
.search {
	height: 45px;
}
.searchtext {
	font-family: Arial, Verdana, Helvetica, Sans-serif;
	color: #000000;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	font-size: 10pt;
}
.searchtext a {
	font-family: Arial, Verdana, Helvetica, Sans-serif;
	color: #000000;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	font-size: 10pt;
}
.searchtext a:hover {
	font-family: Arial, Verdana, Helvetica, Sans-serif;
	color: #b82827;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	font-size: 10pt;
}
.alfagifts {
	width: 1024px;
	height: 46px;
	font-family: Arial, Verdana, Helvetica, Sans-serif;
	color: #d91d13;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
	font-size: 16pt;
	float: left;
}
.alfagifts span {
	position: absolute;
	top: 10px;
}
.left3col {
	background-image: url(../img/fon.jpg);
	width: 95px;
	height: 46px;
	padding: 0px;
	float:left;
}
.center3col {
	position: relative;
	width: 822px;
	height: 46px;
	padding: 0px;
	float:left;
	background-image: url(../img/fon_ag.jpg);
}
.right3col {
	position: relative;
	width: 70px;
	height: 46px;
	padding: 0px;
	border-right: 1px solid;
	border-color: #dededc;
	float:left;
}
.mainblock {
	position: relative;
	width: 987px;
	float:left;
	background-image: url(../img/fon.jpg);
	background-repeat: repeat-y;
	border-right: 1px solid;
	border-color: #dededc;
	min-height: 510px;
	height:auto !important;
	height:510px;
}
.content {
	position: relative;
	left: 95px;
	width: 840px;
	font-family: Arial, Verdana, Helvetica, Sans-serif;
	text-align: justify;
	color: #000000;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	font-size: 12pt;
}
.a_type_ag {
	position: absolute;
	top: 28px;
	left: 0px;
}
.pen {
	position: absolute;
	top: 10px;
	left: 920px;
}
.footer {
	position: relative;
	width: 987px;
	height: 143px;
	background-image: url(../img/footer.jpg);
	border-right: 1px solid;
	border-color: #dededc;
}
.textfooter {
	position: absolute;
	top: 72px;
	left: 120px;
	font-family: Arial, Verdana, Helvetica, Sans-serif;
	text-align: left;
	font-size: 11pt;
	color: #ffffff;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
}
.menu_down {
	position: absolute;
	top: 100px;
	left: 435px;
}
.menu_down a {
	font-family: Arial, Verdana, Helvetica, Sans-serif;
	text-align: left;
	font-size: 11pt;
	color: #ffffff;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
}
.menu_down a:hover {
	text-decoration: underline;
}
.news {
	position: relative;
	width: 610px;
	height: 34px;
	background-image: url(../img/news_fon.jpg);
	font-family: Arial, Verdana, Helvetica, Sans-serif;
	text-align: right;
	font-size: 12pt;
	color: #d91d13;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
}
.newsimg {
	position: absolute;
	left: 0px;
	top: 16px;
}
.newsblock {
	width: 285px;
	float: left;
	margin-right: 20px;
	margin-left: 20px;
}
.headernews {
	font-family: Arial, Verdana, Helvetica, Sans-serif;
	text-align: left;
	font-size: 10pt;
	color: #d91d13;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
}
.bodynews {
	font-family: Arial, Verdana, Helvetica, Sans-serif;
	text-align: left;
	font-size: 10pt;
	color: #000000;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
}
.arhiv {
	width: 610px;
	font-family: Arial, Verdana, Helvetica, Sans-serif;
	text-align: right;
	font-size: 11pt;
	color: #000000;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
}
.menu_catalog {
	/*margin-left: 95px;*/
	margin-right: 10px;
	float: left;
	width: 240px;
	height: 100%;
	font-family: Arial, Verdana, Helvetica, Sans-serif;
	text-align: left;
	color: #000000;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	font-size: 10pt;
}
.menu_catalog a{
	color: #000000;
	text-decoration: none;
}
.menu_catalog a:hover{
	color: #d91d13;
}
.catalog {
	width: 180px;
	height: 320px;
	margin-right: 10px;
	vertical-align: bottom;
	float: left;
}
.artikul {
	font-family: Arial, Verdana, Helvetica, Sans-serif;
	text-align: center;
	color: #d91d13;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
	font-size: 10pt;
}
.header_catalog {
	position: relative;
	width: 820px;
	/*margin-left: 95px;*/
}
.page {
	position: absolute;
	left: 600px;
	top: 20px;
	font-family: Arial, Verdana, Helvetica, Sans-serif;
	text-align: center;
	color: #000000;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	font-size: 10pt;
}
.product {
	font-family: Arial, Verdana, Helvetica, Sans-serif;
	text-align: center;
	color: #000000;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	font-size: 10pt;
}
/*----------------left menu ------------------*/
/*
.menu_catalog {
	COLOR: #000000;
	FONT-FAMILY: Arial, Verdana, Arial; 
	FONT-SIZE: 9pt; FONT-STYLE: normal; 
	FONT-WEIGHT: normal; TEXT-ALIGN: left; 
	TEXT-DECORATION: none
}
.menul:hover {
	COLOR: #cf0503; 
	FONT-FAMILY: Arial, Verdana, Arial; 
	FONT-SIZE: 9pt; FONT-STYLE: normal; 
	FONT-WEIGHT: normal; TEXT-ALIGN: left; 
	TEXT-DECORATION: none
}

.menul  a {
	color: #000;
	text-decoration: none;
}
*/
.menu_catalog li  {
	margin: 0 0 0 -20px;
}

.menuliStr {
	list-style-image: url('../img/str.jpg');	
}
.menuliStr2 {
	list-style-image: url('../img/str2.jpg');
}
a.redbold  {
	color: red;	
	font-weight: bold;
}
/* wrapper for the gifts output in oasis_gifts */
.giftsList{
	float: left;
	width:570px;
}
/*paginator class*/
.menu2 {
	text-decoration: none;
	color:#000;
	font-weight: bold;
}
a.menu2:hover {
	text-decoration:underline;
}
a.menu2:visited {
	color: #000;
}
div.page span.current {
	color: red;
	font-weight: bold;
}
div.menu2 {
	display:inline;
	color: #ccc;
	margin-right: 4px;
}
.proekt_img_10 {
	margin: 0 0 5px 10px;
	float:right;
}
.text {
 COLOR: #000000;
 FONT-FAMILY: Arial, Verdana, Arial;
 FONT-SIZE: 10pt;
 FONT-STYLE: normal;
 FONT-WEIGHT: normal;
 TEXT-ALIGN: justify;
 TEXT-DECORATION: none
}
/*news classes*/
.header_news {
       font-family: Arial, Verdana, Helvetica, Sans-serif;
       font-size: 12pt;
       font-weight: bold;
       color: #d91d13;
       margin-right: 40px;
}
.header_news_all {
       font-family: Arial, Verdana, Helvetica, Sans-serif;
       font-size: 12pt;
       font-weight: bold;
       color: #000000;
       margin-right: 40px;
}
.body_news {
       font-family: Arial, Verdana, Helvetica, Sans-serif;
       font-size: 12pt;
       font-weight: normal;
       margin-right: 40px;
		 color: #000000;
		 text-decoration: none;
}
/*--error class--*/
.error-message {
	color: red;
	font-weight: bold;
}
/*--- more classes ----*/
.altrow {
	background-color: #eee;
}
.x {
	margin: 5px 10px;
}
div.input label {
	float: left;
}
.actions {
	margin: 0;
	font-size: 12px;
}
.actions a {
	text-decoration:none;
	color: #000;
}
.actions a:hover {
	text-decoration: underline;
}
p.file {
	margin:0 0 3px 0;
}
p.delFile {
	margin:0 0 10px 0;
	font-size: 13px;
}