body {
	background-color:#929699;
}
.showgrid {
	//background: none; 
}

.zaLayout {
	background: white url(../img/h.jpg) no-repeat;
}

.header {

}
.footer {
	background: url(../img/f.jpg) no-repeat;
	height: 210px;
	
}

.header1 {
	/*padding: 270px 0 0 137px;*/
	padding-top: 270px;

}
.header1 h3 {
	color: white;
	background: url(../img/catalogs.jpg) no-repeat;
	height: 26px;
	width: 119px;
	line-height: 1.5;
	margin-bottom: 5px;
	border-bottom: 2px solid grey;
	padding-bottom: 2px;
	padding-left: 10px;
	margin-left: 16px;
}
ul.left_menu li {
	list-style-image: url(../img/catalogs_boll.jpg);
	border-bottom: 2px solid grey;
	list-style-position: inside;
	width: 119px;

}
ul.left_menu li a {
	text-decoration: none;
}
.header2 {
}

p.tel {
	font-size: 130%;
	font-weight: bold;
	color: #b71815;
	margin-top: 214px;
	padding-left: 0px;
}

.header3 {
	margin-top: 212px;
	
}
ul.main_menu li{
	float: left;
	list-style-type: none;
	background: transparent url(../img/button_h.jpg) left bottom;
	width: 70px;
	color: white;
	margin: 0 0 0 1px;	
}
ul.main_menu {
	margin-left: 0px;
}
ul.main_menu li a {
	display: block;
	text-decoration: none;
	font-weight: bold;
	color: white;
	/*padding: 0 0 0 15px;*/
	text-align: center;
	
	
}

.menul  {
	COLOR: #000000; 
	FONT-FAMILY: Arial, Verdana, Arial; 
	FONT-SIZE: 9pt;
	FONT-STYLE: normal; 
	FONT-WEIGHT: normal;
	TEXT-ALIGN: left;
	TEXT-DECORATION: none
}
.menul:hover {
	COLOR: #cf0503; 
	FONT-FAMILY: Arial, Verdana, Arial; 
	FONT-SIZE: 9pt; FONT-STYLE: normal; 
	FONT-WEIGHT: normal; 
	TEXT-ALIGN: left; 
	TEXT-DECORATION: none
}
.menulup {
	COLOR: #cf0503; FONT-FAMILY: Arial, Verdana, Arial; FONT-SIZE: 9pt; FONT-STYLE: normal; FONT-WEIGHT: bold; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.menu2 {
	COLOR: #000000; FONT-FAMILY: Arial, Verdana, Arial; FONT-SIZE: 10pt; FONT-STYLE: normal; FONT-WEIGHT: normal; TEXT-ALIGN: justify; TEXT-DECORATION: underline
}
.menu2:hover {
	COLOR: #cf0503; FONT-FAMILY: Arial, Verdana, Arial; FONT-SIZE: 10pt; FONT-STYLE: normal; FONT-WEIGHT: normal; TEXT-ALIGN: justify; TEXT-DECORATION: underline
}
.menu1 li a {
	color: red;
}